{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="card text-center">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body">
                    <form method="post" class="card-text">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Change" class="btn btn-success">
                    </form>

                    <br>
                    <a href="{% url 'homepage' %}" class="btn btn-primary">Back to Home Page</a>
                    <p><a href="{% url 'login' %}">Back to Login</a></p>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}